.row
    .eight.columns
        %form{:action => "/submit", :method => "POST"}
            %fieldset
                %legend 个人信息 Personal Information
                .row
                    .six.columns
                        %label 姓名 Name *
                        %input{:type => "text", :name => "name"}
                    .six.columns
                .row
                    .six.columns
                        %label 电子邮箱 Email *
                        %input{:type => "text", :name => "email"}
                    .six.columns
                        %label 联系电话 Phone number *
                        %input{:type => "text", :name => 'phone'}
                .row
                    .six.columns
                        %label 学校 School
                        %input{:type => "text", :name => "school"}
                    .six.columns
                        %label 宿舍 Hostel
                        %input{:type => "text", :name => "hostel"}
                %label 地址 Address
                %input{:type => "text", :name => "address1", :placeholder => "第一行 Line 1"}
                %input{:type => "text", :name => "address2", :placeholder => "第二行 Line 1"}
                .row.collapse
                    .two.mobile-one.columns
                        %span.prefix Singapore
                    .four.mobile-two.columns
                        %input{:type => "text", :name => "zip", :placeholder => "邮区编号 Postal code"}
                    .six.mobile-one.columns
                %br/

            %fieldset
                %legend 订票详情 Order details
                .row
                    .four.columns
                        %label 17 May, Friday
                        %input{:type => "text", :name => "ticket1", :placeholder => "张数 No. of tickets"}
                    .four.columns
                        %label 18 May, Saturday
                        %input{:type => "text", :name => "ticket2", :placeholder => "张数 No. of tickets"}
                    .four.columns
                        %label 19 May, Sunday
                        %input{:type => "text", :name => "ticket3", :placeholder => "张数 No. of tickets"}
                %label 支付方式 Mode of payment
                %input{:type => "radio", :name => "payment_method", :value => "cash"} 现金 Cash
                %br
                %input{:type => "radio", :name => "payment_method", :value => "paypal"} Paypal
                %br
                %input{:type => "radio", :name => "payment_method", :value => "alipay"} 支付宝 Alipay
                %br
                %input{:type => "radio", :name => "payment_method", :value => "bank"} 银行转账 Fund Transfer (DBS/POSB)
                %br/
                %br/
                %label 备注 Notes
                %textarea{:name => "note"}
            %input.button{:type =>"submit", :value => "提交 Submit"}

    .four.columns
        .panel{:onclick => 'window.location.href = window.location.href + "index_en.html"'}
            Performance information goes here
