.notice{:style => 'text-align:center'}
    %h5 
        代购服务已结束，请前往
        %a{:href => "http://www.sistic.com.sg/portal/dt?dt.isPortletRequest=true&dt.action=process&dt.provider=PortletWindowProcessChannel&dt.windowProvider.targetPortletChannel=JSPTabContainer/sEventsCalendar/Event&dt.containerName=JSPTabContainer/sEventsCalendar&dt.windowProvider.currentChannelMode=VIEW&dt.window.portletAction=RENDER&contentCode=proj0513"} SISTIC 售票页面 
        订购演出门票。谢谢。