!!!
%html
    %head
        %meta{:charset => 'utf-8'}
        %title 理想国计划 2013 预定系统
        %link{:rel =>"stylesheet", :href => "stylesheets/app.css"}
        %script{:src => "javascripts/foundation/modernizr.foundation.js"}

    %body
        .row
            .twelve.columns
                %h2 創造系·理想国计划2013 预售票订购
                %hr/
        .row
            .twelve.columns#container= yield
        %script{:src => "javascripts/foundation/jquery.js"}
        %script{:src => "javascripts/foundation/jquery.foundation.accordion.js"}
        %script{:src => "javascripts/foundation/jquery.foundation.alerts.js"}
        %script{:src => "javascripts/foundation/jquery.foundation.buttons.js"}
        %script{:src => "javascripts/foundation/jquery.foundation.forms.js"}
        %script{:src => "javascripts/foundation/jquery.foundation.mediaQueryToggle.js"}
        %script{:src => "javascripts/foundation/jquery.foundation.navigation.js"}
        %script{:src => "javascripts/foundation/jquery.foundation.orbit.js"}
        %script{:src => "javascripts/foundation/jquery.foundation.reveal.js"}
        %script{:src => "javascripts/foundation/jquery.foundation.tabs.js"}
        %script{:src => "javascripts/foundation/jquery.foundation.tooltips.js"}
        %script{:src => "javascripts/foundation/jquery.placeholder.js"}
        
        %script{:src => "javascripts/foundation/app.js"}
