!!!
%html
    %head
        %meta{:charset => 'utf-8'}
        %title 如是我闻 - 理想国计划 2013 - 购票系统
        %link{:rel =>"stylesheet", :href => "/stylesheets/app.css"}
        %script{:src => "/javascripts/foundation/modernizr.foundation.js"}
        %link{:rel =>"shortcut icon", :href => "/favicon.ico"}
        %script{:src => "/javascripts/jquery.min.js"}
        %script{:src => "/javascripts/foundation.min.js"}
    %body
        .row
            .twelve.columns
                %img{:src => "/banner.png"}
                %hr/
        .row
            .twelve.columns#container= yield
        %br/
        %footer{:style => "width:700px; margin-left:auto; margin-right: auto; text-align: center"}
            &copy 2013 
            %a{:href => "http://facultyofcreativity.org"} Faculty of Creativity
            \ - 
            %a{:href => "http://facultyofcreativity.org/?page_id=81"} Join the Crew
            \ -
            %a{:href => "http://facultyofcreativity.org/?page_id=395"} Get on the Stage
            \ -
            %a{:href => "/admin"} Admin Login
        %br
        / %script{:src => "javascripts/foundation/jquery.foundation.accordion.js"}
        / %script{:src => "javascripts/foundation/jquery.foundation.alerts.js"}
        / %script{:src => "javascripts/foundation/jquery.foundation.buttons.js"}
        / %script{:src => "javascripts/foundation/jquery.foundation.forms.js"}
        / %script{:src => "javascripts/foundation/jquery.foundation.mediaQueryToggle.js"}
        / %script{:src => "javascripts/foundation/jquery.foundation.navigation.js"}
        / %script{:src => "javascripts/foundation/jquery.foundation.orbit.js"}
        / %script{:src => "javascripts/foundation/jquery.foundation.reveal.js"}
        / %script{:src => "javascripts/foundation/jquery.foundation.tabs.js"}
        / %script{:src => "javascripts/foundation/jquery.foundation.tooltips.js"}
        / %script{:src => "javascripts/foundation/jquery.placeholder.js"}
        
        %script{:src => "/javascripts/app.js"}
