%dl.sub-nav
    %dt >>
    %dd
        %a{:href => "/"}订单 | Order Form
    %dd.active 
        %a{:href => "#"}付款方式 | Payment Instructions
%hr/
%h5 付款方式 | Payment Instructions

%h6 现金 | Cash

我们会在送票的时候向您收款。
%br/
We will collect the money from you when we deliver the tickets.

%h6 支付宝 | Alipay

请在
%a{:href =>"https://me.alipay.com/benmq"}该页面
付款，并
%strong 务必
在留言内填写您的姓名。票价折合98元人民币。
%br/
Please access 
%a{:href =>"https://me.alipay.com/benmq"}this page 
and make your payment. 
%strong Remember 
to leave your name in the comments section. The price is RMB 98.
%br/


%h6 Paypal Singapore

我们会在24小时内将账单发送到您的邮箱，请稍后注意查收。请注意贝宝会收取手续费。
%br/
We will email you the invoice within 24 hours. Please check your inbox later. Note that paypal charges transaction fee.


%h6 POSB 银行转账 | Funds Transfer to POSB

由于信息敏感，我们会在24小时内将账号通过电子邮件的方式发送给您。
%br/
Due to the sensitivity of information, we will email you the bank account within 24 hours.