%dl.sub-nav
    %dt >>
    %dd
        %a{:href => "/"}订单 | Order Form
    %dd.active
        %a{:href => "/payment.html"}付款方式 | Payment Instructions
    %dd
        %a{:href => "http://www.sistic.com.sg/portal/dt?contentCode=proj0513"} SISTIC 售票页面 | Event Page on SISTIC 
%hr/
.alert-box.success 
    %h5 提交成功！| Submitted!

感谢您对理想国计划2013的支持，确认邮件已发送至您的邮箱。
%br/
%br/
Thank you for supporting Project Republica 2013. A confirmation email has been sent to your inbox.
%br/
%br/
%h5 付款方式 | Payment Instructions

%h6 现金 | Cash

我们会在送票的时候向您收款。
%br/
We will collect the money from you when we deliver the tickets.

%h6 支付宝 | Alipay

我们会在24小时内将付款方式发送至您的邮箱，请稍后注意查收。
%br/
We will email you the details for payment within 24 hours. Please check your inbox later.
%br/


%h6 Paypal Singapore

我们会在24小时内将账单发送到您的邮箱，请稍后注意查收。请注意贝宝会收取手续费。
%br/
We will email you the invoice within 24 hours. Please check your inbox later. Note that paypal charges transaction fee.


%h6 POSB 银行转账 | Funds Transfer to POSB

由于信息敏感，我们会在24小时内将账号通过电子邮件的方式发送给您。
%br/
Due to the sensitivity of information, we will email you the bank account within 24 hours.